html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-card,
.mat-card {
  padding: 0 !important;
  background-color: rgba(255, 255, 255, 0.50) !important;
  border-radius: 8px !important;
}

.cdk-overlay-pane {
  background-color: rgba(255, 255, 255, 0.60)  !important;
}

.mat-mdc-dialog-surface,
.mat-dialog-container {
  background-color: rgba(255, 255, 255, 0.50)  !important;
  border-radius: 8px !important;
}

.mat-mdc-form-field-flex,
.mat-form-field-flex {
  background-color: rgba(255, 255, 255, 0.50)  !important;
}