
.card-header {
  display: flex;
  justify-content: space-between;
  align: center;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  color: #111;
  font-weight: bold;
}

.mat-mdc-header-cell {
  background-color: rgba(245, 245, 245, 1);
  font-weight: 500;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

:host ::ng-deep .mat-mdc-table {
  background-color: transparent !important;
  font-weight: bold;
  text-transform: uppercase;
}

:host ::ng-deep .mat-mdc-row,
:host ::ng-deep .mat-mdc-cell {
  background-color: transparent !important;
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
}

