.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.full-width {
  grid-column: 1 / -1;
}

:host ::ng-deep .mat-mdc-form-field-flex,
:host ::ng-deep .mat-form-field-flex {
  background-color: transparent !important;
}

:host ::ng-deep .mat-mdc-form-field-flex input,
:host ::ng-deep .mat-mdc-form-field-flex textarea,
:host ::ng-deep .mat-mdc-form-field-flex mat-label,
:host ::ng-deep .mat-form-field-label {
  color: #111 !important;
}

:host ::ng-deep .mat-mdc-form-field-focus-overlay,
:host ::ng-deep .mat-mdc-notched-outline > *,
:host ::ng-deep .mat-form-field-outline > * {
  border-color: rgba(0, 0, 0, 0.4) !important;
}